.permissions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    text-align: center;
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .checkbox-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .checkbox-label {
    display: flex;
    font-size: 18px;
    margin:0px 0;
  }

  .checkbox-label p{
    margin-left: 15px;
  }
  
  .submit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }

  .update-permissions-form{
    display: flex;
    flex-direction: column;
  }
  